{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style="text-align: center;"><strong><u>AJOUT</u></strong></div>
        <div class="p-5">
            {{ form(addForm) }}
        </div>
    </div>
{% endblock %}


